@import '../../_variables.sass'
$margin-bottom: 30px
$ten-px: 10px
$five-px: 5px
$input-border-radius: 5px
$button-padding: 10px 20px
$button-border-radius: 5px
.form-group
    margin-bottom : $margin-bottom
label
    display: block
    font-weight : $light-font-weight
    margin-bottom : $five-px
    font-size: 14px
input[type="text"],
input[type="email"]
    width: $hunder_percentage
    padding: $ten-px
    border: $light-border
    box-sizing : border-box
    border-radius: $input-border-radius
.error-message 
  color: $danger-color
  display: inline-block
  font-size: 12px
  line-height: 15px
  margin: 5px 0 0
button
    background-color: $info-color 
    color: $white-color
    padding: $button-padding
    border: none
    border-radius: $button-border-radius
    cursor: pointer
    width: $hunder_percentage
    font-size: 18px
    &:hover
      background-color: $info-color-light
.form-info
    margin-bottom : 20px
    small
        font-style: italic
        color: $light-color
        a
            color: $light-anchor-color
            text-decoration : none