$hunder_percentage : 100%
$layout-bp-sm:768px
$fourty-px:40px
section
    position: absolute
    top: 50%
    left:50%
    transform: translate(-50%, -50%)
    padding: 10px
    .form-container 
        padding: 20px
        background : #ffffff
        max-width : 400px
        min-height : 500px
        border : 1px solid #d2d1d3
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px
        @media screen  and (max-width: $layout-bp-sm)
            min-width : calc($hunder_percentage - $fourty-px)
        h3
            font-weight : 300
            text-align : center
        small
            font-size: 16px
            font-weight: 300
            color: #999
            margin-bottom: 30px
            display: block
            text-align: center
            a
                color: #558fb5
                text-decoration : none 
   
    @media screen  and (max-width: $layout-bp-sm)
        display: block
        width: calc($hunder_percentage - $fourty-px)
    @media screen  and (max-width: 375px)
        top: 63%
.error-banner
    padding : 10px 0
    text-align : center
    color:#cf3a3a


    
    

   