@import '../../_variables.sass'
header
    padding:20px
    background-color: $white-color
    box-shadow: $lighter-shade
    img
        width:120px
        margin-right:10px
    h4
        display: inline
        font-weight:$light-font-weight 
        position : absolute
        top:5px
        border-left: $light-border
        padding-left: 10px
        color: $grey-color